.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bestPractice {
  background: #eee;
  padding: 40px;
  color: #000;
  margin: 20px;
}
